<h1>Delete Users</h1>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="message {{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<ul>
  {% for user in users %}
    {% if user != request.user %}  <li>
        {{ user.username }} ({{ user.email }})
        <form method="post">
          {% csrf_token %}
          <input type="hidden" name="user_id" value="{{ user.pk }}">
          <button type="submit">Delete</button>
        </form>
      </li>
    {% endif %}
  {% endfor %}
</ul>