<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Home Page</title>
</head>

<body>
    <div class="container mt-3">
        <h1 style="display: inline;">LOGO</h1>
        <a href="#"
            style="background-color: rgb(122, 102, 232); border: solid 2px #0D6EFD; border-radius: 50%; padding: 20px"
            class="float-end">
        </a>
        <div style="width: 60%;" class="text-center mx-auto mt-5">
            <div class="row mx-auto mb-5">
                <div class="col">
                    <a style="background-color: #4687C8;" class="btn text-white" href="{% url 'viewequip' %}">Equipment</a>
                </div>
                <div class="col">
                    <a style="background-color: #4687C8;" class="btn text-white" href="#">Inventory</a>
                </div>
                <div class="col">
                    <a style="background-color: #4687C8;" class="btn text-white" href="#">Reports</a>
                </div>
                <div class="col">
                    <a style="background-color: #4687C8;" class="btn text-white" href="{% url 'approve' %}">Manage Users</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>